.navbarScroll.navbarDark {
    background-color: black;
}

.bgimage {
    height: 190vh;
    background: url('https://mail.google.com/mail/u/0?ui=2&ik=9de6911f5b&attid=0.5&permmsgid=msg-a:r1748444882655467037&th=1887fb085248533a&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ8BjmjeGiTBPoyBHYjUhGSb-BUjEtsI81udf0RIGcrQssnPmdwFyHc4d-HxarkEO1_4SW1GsjsJkdME_aPKx4Qbjk-wDr3Yh2hUAC6N-0apWROT0AZzcMJWyTY&disp=emb&realattid=1887fb02d386280ba5d2');
    background-size: cover;
    position: relative;
}

.hero_title {
    font-size: 4.5rem;
}

.hero_desc {
    font-size: 2rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(91, 85, 98);
}